[submodule "arduino-bluetooth-longboard-controller"]
	path = arduino-bluetooth-longboard-controller
	url = https://github.com/Coderlane/arduino-bluetooth-longboard-controller.git
[submodule "arduino-bluetooth-longboard-host"]
	path = arduino-bluetooth-longboard-host
	url = https://github.com/Coderlane/arduino-bluetooth-longboard-host.git
[submodule "arduino-throttle"]
	path = arduino-throttle
	url = https://github.com/Coderlane/arduino-throttle.git
[submodule "arduino-bluetooth"]
	path = arduino-bluetooth
	url = https://github.com/Coderlane/arduino-bluetooth.git
